# Fitness Tracker Data Analysis

#### This is an exploratory data analysis project where I analyze data from fitness trackers (AppleWatch, Fitbit, etc) to find any possible patterns or trends. This dataset can be found on kaggle in the link [Fitness Activity tracker](https://www.kaggle.com/datasets/yaminh/fitness-track-daily-activity-dataset/data)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
### Read in the data
fitness_data = pd.read_csv('fitness.csv')
fitness_data

,UserID,Date,Total_Distance,Tracker_Distance,Logged_Activities_Distance,Very_Active_Distance,Moderately_Active_Distance,Light_Active_Distance,Sedentary_Active_Distance,Very_Active_Minutes,Fairly_Active_Minutes,Lightly_Active_Minutes,Sedentary_Minutes,Steps,Calories_Burned
0,6117666160,4/20/2016,8.02,8.02,0.0,2.03,0.48,5.52,0.0,26,10,349,587,10449,2536
1,1644430081,4/13/2016,5.82,5.82,0.0,2.28,0.90,2.64,0.0,30,16,135,1259,8001,2902
2,1927972279,4/25/2016,0.11,0.11,0.0,0.00,0.00,0.11,0.0,0,0,12,1303,152,2100
3,6117666160,4/26/2016,7.21,7.21,0.0,0.00,0.34,6.87,0.0,0,7,352,1077,9543,2450
4,4388161847,5/9/2016,7.86,7.86,0.0,0.34,0.73,6.79,0.0,6,19,258,1020,10218,3013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,1844505072,4/26/2016,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,1440,0,1347
936,2873212765,4/17/2016,1.70,1.70,0.0,0.00,0.35,1.34,0.0,0,8,160,1272,2524,1529
937,8583815059,4/23/2016,7.35,7.35,0.0,0.53,2.03,4.75,0.0,7,44,238,1151,9423,3012
938,4388161847,5/5/2016,7.38,7.38,0.0,0.63,1.67,5.09,0.0,12,39,199,896,9603,2899
939,1844505072,4/22/2016,3.55,3.55,0.0,0.00,0.00,3.55,0.0,0,0,220,1220,5372,1827